venv
# General ignores
.DS_Store
Thumbs.db

# Virtual environment (Python)
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js dependencies (frontend)
front/node_modules/
front/dist/
front/.parcel-cache/
front/.next/
front/.nuxt/
front/.svelte-kit/
front/.vite/
